body {
    background-color: #fefae0;
}

h1 {
    color: #606c38;
    text-align: center;
}

#reset {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#board {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    border: 4px solid #606c38;
    background-color: #283618;
    /* border-radius: 5%; */
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.squares {
    border: 2px solid #606c38;
}